<p class='donate'>
    Enjoying this site? Please <a href="https://liberapay.com/diddledan/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"/></a> to help keep the Snapstats.org lights on.
</p>
