main {
    position: relative;
    max-width: 56rem;
    background-color: white;
    padding: 2rem;
    margin: 0 auto;
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.loading {
    text-align: center;
    display: grid;
    place-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,30,30,0.9);
    color: #ffffff;
}
