@keyframes outline-blink {
	0%,49% {
		outline: 2px solid #f00;
	}
	50%,100% {
		outline: 0;
	}
}
@keyframes pseudo-outline-blink {
	0%,49% {
		box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f00;
	}
	50%,100% {
		box-shadow: 0 0 0 2px #fff, 0 0 0 4px #fff;
	}
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}
a:focus {
	/* animation: 2s outline-blink infinite; */
	outline: 2px solid #8fc19f;
	outline-offset: 2px;
	position: relative;
}

::-moz-focus-inner {
	border: 0;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

pre > code {
    display: block;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

input {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	border: 2px solid #000;
}
input:focus {
	/* animation: 1.2s pseudo-outline-blink infinite; */
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #8fc19f;
	outline: 0;
}


.legend ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.legend-item {
	list-style: none;
	width: 10rem;
	padding-left: 0;
}
.legend-item .line {
	display: inline-block;
	width: 2rem;
	height: 2px;
	vertical-align: middle;
}